body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slider-container {
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
}

.cent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

button {
  background-color: rgb(52, 121, 226);
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgb(53, 136, 231);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#slider-posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  height: 220px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
